body{
    background-color: black;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
  }


#banner{
    background-color: black;
    background-image: url(images/0909.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    position: relative;
    height: 800px;
    z-index: 1;
    top: 57px;
}

.inner{  /*ETO YUNG CONTAINER NG SULAT SA GITNA NG BANNER*/
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
   top: 30%;
}

.inner h1{  /*ETO YUNG SULAT SA BANNER*/
    font-family: 'PT Sans', sans-serif; /*PALITAN MO NALANG*/
    font-size: 35px;
    color: #ee3939;
    font-weight: 100;
}

.bio_btn{  /*ETO YUNG BUTTON SA BANNER NA MY BIO*/
    font-family: 'PT Sans', sans-serif; /*PALITAN MO NALANG*/
    font-size: 25px;
    font-weight: bolder;
    padding: 15px;
    width: 150px;
    text-align: center;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff; /*ETO YUNG BORDER NA WHITE NA BOX*/
    color: #ffffff !important;
    transition: background-color 0.3s ease-in-out;  /*ETO YUNG TRANSITION*/
}

.inner a{
    text-decoration: none;
}

.bio_btn:hover{  /*ETO YUNG EFFECT SA MY BIO BUTTON KAPAG TINUTOK MO YUNG MOUSE MAG IIBA BACKGROUND COLOR*/
    background-color: rgba(255, 0, 0, 0.5); /*ETO YUNG PANGPA TRANSPARENT NG BACKGROUND COLOR*/
    color: #ff0101 !important;
}

.content_1{
    max-width: auto;
    margin: 0 auto;
    background-image: url(images/pic11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    position: relative;
    height: 800px;
    z-index: 1;
    top: 57px;
}

.content_4{
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(images/pic11.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -100px;
    position: relative;
    height: 800px;
    z-index: 1;
    top: 57px;
}

.content_4 h1 {
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ee3939;
}

.content_4 .learn_btn {
    font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ee3939;
    color: #ee3939 !important;
    margin-top: 50px;
    margin-left: 50px;
    transition: background-color 0.3s ease-in-out;
}
.content_1 h1{
    margin-top: 160px;
    font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
    font-weight: bolder;
    font-size: 40px;
    color: #ee3939;
}

.content_1 p{
    font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
    font-size: 20px;
    font-weight: 100;
    margin: 10px;
    color: #ffffff;
}

.learn_btn{
    font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ee3939;
    color: #ee3939 !important;
    margin-top: 50px;
}

.content_1 a{
    text-decoration: none;
}

.content_2_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.content_2{
    width: 100%;
    margin-top: 120px;
}

.left_content{
    width: 50%;
    background-color: #ececec;
    float: left;
}

.right_content{
    width: 50%;
    background-color: #f8f8f8;
    float: left;
    clear: right;
}

.title{
    font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
    font-weight: bolder;
    font-size: 30px;
    color: #ee3939;
    position: relative;
    top: 40px;
    margin-left: 50px;
}

.img_container{
    width: 500px;
}

.img_container img{
    width: 100%;
    margin: 40px;
}

.left_content p, .right_content p{
    font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
    font-size: 16px;
    font-weight: 100;
    margin: 5px;
    color: #353535;
    padding: 10px;
    text-align: center;
}

footer{
   float: left;
   margin-top: 150px;
   font-family: 'Montserrat', sans-serif; /*PALITAN MO NALANG*/
   font-size: 15px;
   font-weight: 100;
   background-color: red;
   width: 100%;
   height: 100%;
   text-align: center;
   color: #ffffff;
}

.flex_container {
  display: flex;
  flex-direction: row;
}
