
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans" rel="stylesheet">

    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/main.css">
    {{ url_for('static', filename='main.css')}}
    {{ url_for('static', filename='header.css')}}
    <title>Discover Arthur & his Boeing's</title>

</head>
<body>
    <header>
        <div class="header_wrapper">
                <div class="logo">
                        <h2>Attendance</h2>
                </div>
                    <div class="header_content">
                        <a href={{ url_for('homepage') }}>Home</a>
                        <a href="porforlio.html">Portfolio</a>
                        <a href={{ url_for('about') }}>About</a>
                    </div>

        </div>
    </header>

    <!--ETO PINAKA KATAWAN NG PAGE-->
    <main>

        <div id="banner" background-image="images/0909.jpg">
            <div class="inner">
                <center>

                    <h1>
                        <strong>
                            A R T H U R  :
                        </strong>
                        WELCOME TO MY WEBSITE<br>
                        AND KNOW ME BETTER
                    </h1>
                </center>
                <center><a href="porforlio.html"><div class="bio_btn">Start</div></a></center>
            </div>
        </div>

        <div class="content_1">
            <center>
                <h1>BOEING - THE 7X7 MODELS</h1>
            </center>
            <center>
                <p>
                    Boeing is the world's largest aerospace company and leading manufacturer of commercial jetliners, defense, space and security systems, and service provider of aftermarket support.
                    As America’s biggest manufacturing exporter, the company supports airlines and U.S.
                    and allied government customers in more than 150 countries.
                    Boeing products and tailored services include commercial and military aircraft, satellites, weapons, electronic and defense systems, launch systems, advanced information and communication systems,
                    and performance-based logistics and training.
                </p>
            </center>
            <center><a href="porforlio.html"><div class="bio_btn">LEARN MORE</div></a></center>
        </div>
    </main>
    <!--ETO YUNG FOOTER PALITAN MO NALANG MGA NAKALAGAY-->
    <footer><h3>© Arthur - Boeing 7x7 Models</h3></footer>
</body>
</html>
